@import "../../../../styles/reset.css";

.logo {
    position: absolute;
    z-index: 10;
    max-height: 33px;
    max-width: 133px;
}

.logo--collapsed {
    top: 49px;
    left: 18px;
}

.logo--uncollapsed {
    top: 44px;
    left: 29px;
}

.logo img {
    width: 100%;
}
