@import "../../../styles/reset.css";

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: -20px;
    padding: 41px 24px 41px 39px;
    height: 209px;
    width: calc(100% + 20px);
}

.reviews-link {
    margin-bottom: 10px;
}


