@import "../../../../styles/reset.css";

.offer {
    display: grid;
    grid-template-rows: 64% 36%;
    height: 127px;
    max-width: 240px;
    width: 30%;
    background-color: var(--neutral-gray-1);
}

.offer__text {
    padding: 9px 24px 12px;
    height: 100%;
    background-color: var(--character-light-primary-inverse);
    text-align: center;
}

.offer__link {
    margin-bottom: 8px;
}

.offer__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}

.offer__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
}

.offer__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 100%;
    width: 50%;
}
