@import "../../../../../styles/reset.css";

.error-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 85px;
    border-radius: 2px;
    /*width: 539px;*/
    /*height: 345px;*/
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
}

.error-window svg {
    margin-bottom: 24px;
    height: 80px;
    width: 80px;
}

.error-window svg.serverTroubles {
    width: 255px;
    height: 294px;
}

.error-window__title {
    max-width: 368px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.error-window__description {
    margin-bottom: 24px;
    max-width: 368px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}

.error-window__btn {
    padding: 4px 15px;
    height: 40px;
    max-width: 368px;
    width: 100%;
    background: var(--primary-light-6);
    border: 1px solid var(--primary-light-6);
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-primary-inverse);
}

.error-window__btn.serverTroubles {
    width: auto;
}
