@import "../../../../styles/reset.css";

.card-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 12px 24px;
    min-height: 100px;
    background-color: var(--character-light-primary-inverse);
    border-radius: 2px;
    width: 100%;
}

.card-link__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}

.card-link__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
    background: var(--character-light-primary-inverse);
}

.card-link__icon-title {
    font-size: 14px;
}

.button__wrapper {
    padding: 12px 0;
}

.card-link__icon {
    margin-right: 5px;
    svg {
        fill: var(--primary-light-6);
    }
}

@media (max-width: 1020px) {
    .card-link--uncollapsed {
        gap: normal;
        min-height: 122px;
    }

    .card-link--collapsed,
    .card-link--uncollapsed {
        justify-content: space-between;
    }

    .card-link--collapsed .card-link__title,
    .card-link--uncollapsed .card-link__title {
        align-self: flex-start;
        text-align: left;
    }
}

@media (max-width: 540px) {
    .card-link--collapsed .card-link__title,
    .card-link--uncollapsed .card-link__title {
        align-self: center;
        text-align: center;
    }

    .card-link--uncollapsed,
    .card-link--collapsed {
        height: 101px;
        min-height: 101px;
    }
}
