@import "../../../../styles/reset.css";

.change-password {
    border-radius: 2px;
    padding: 64px 85px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
}

.change-password__title {
    margin-bottom: 32px;
    max-width: 368px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: var(--character-light-title-85);
}

.password .ant-form-item-row {
    height: 40px;
}

.password .ant-form-item-row div,
.password .ant-form-item-row span,
.password .ant-form-item-row input {
    height: 100%;
}

.ant-form-item-extra {
    font-weight: 400;
    font-size: 12px;
    color: var(--character-light-secondary-45);
}

.password-repeat {
    margin-bottom: 43px;
}

.button {
    width: 100%;
}

.button .ant-btn-primary {
    width: 100%;
    border: 1px solid var(--primary-light-6);
    border-radius: 2px;
    padding: 6px 15px;
    height: 40px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--primary-light-6);
}
