html {
    width: 100%;
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100%;
    font-family: var(--font-family);
    line-height: 150%;
    font-weight: 400;
}

#root {
    height: 100%;
    width: 100%;
}

.ant-tabs-nav {
    font-family: inherit;
}

@media (max-width: 540px) {
    #root {
        height: auto;
    }
}
