:root {
    --font-family: 'Inter', sans-serif;
    --second-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --character-light-title-85: #262626;
    --character-light-primary-85: #262626;
    --character-light-secondary-45: #8c8c8c;
    --character-light-border: #d9d9d9;
    --character-light-dividers: #f0f0f0;
    --character-light-primary-inverse: #fff;
    --primary-light-1: #f0f5ff;
    --primary-light-6: #2f54eb;
    --primary-light-9: #061178;
    --neutral-gray-1: #fff;
    --neutral-gray-5: #d9d9d9;
    --neutral-gray-10: #262626;
}
