:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --character-light-title-85: #262626;
    --character-light-primary-85: #262626;
    --character-light-secondary-45: #8c8c8c;
    --character-light-disable-25: #bfbfbf;
    --character-light-border: #d9d9d9;
    --character-light-dividers: #f0f0f0;
    --character-light-background: #f5f5f5;
    --character-light-table-header: #fafafa;
    --character-light-error: #ff4d4f;
    --character-light-warning: #faad14;
    --character-light-link: #1890ff;
    --character-light-success: #52c41a;
    --character-light-red-4: #ff7875;
    --character-light-primary-inverse: #fff;
    --character-light-sider-background: #fff;
    --primary-light-1: #f0f5ff;
    --primary-light-2: #d6e4ff;
    --primary-light-3: #adc6ff;
    --primary-light-4: #85a5ff;
    --primary-light-5: #597ef7;
    --primary-light-6: #2f54eb;
    --primary-light-7: #1d39c4;
    --primary-light-8: #10239e;
    --primary-light-9: #061178;
    --primary-light-10: #030852;
    --blue-light-1: #e6f7ff;
    --blue-light-2: #bae7ff;
    --blue-light-3: #91d5ff;
    --blue-light-4: #69c0ff;
    --blue-light-5: #40a9ff;
    --blue-light-6: #1890ff;
    --blue-light-7: #096dd9;
    --blue-light-8: #0050b3;
    --blue-light-9: #003a8c;
    --blue-light-10: #002766;
    --neutral-gray-1: #fff;
    --neutral-gray-2: #fafafa;
    --neutral-gray-3: #f5f5f5;
    --neutral-gray-4: #f0f0f0;
    --neutral-gray-5: #d9d9d9;
    --neutral-gray-6: #bfbfbf;
    --neutral-gray-7: #8c8c8c;
    --neutral-gray-8: #595959;
    --neutral-gray-9: #434343;
    --neutral-gray-10: #262626;
    --neutral-gray-11: #1f1f1f;
    --neutral-gray-12: #141414;
    --neutral-gray-13: #000;
    --primary-dark-1: #131629;
    --primary-dark-2: #161d40;
    --primary-dark-3: #1c2755;
    --primary-dark-4: #203175;
    --primary-dark-5: #263ea0;
    --primary-dark-6: #2b4acb;
    --primary-dark-7: #5273e0;
    --primary-dark-8: #7f9ef3;
    --primary-dark-9: #a8c1f8;
    --primary-dark-10: #d2e0fa;
    --blue-dark-1: #111d2c;
    --blue-dark-2: #112a45;
    --blue-dark-3: #15395b;
    --blue-dark-4: #164c7e;
    --blue-dark-5: #1765ad;
    --blue-dark-6: #177ddc;
    --blue-dark-7: #3c9ae8;
    --blue-dark-8: #65b7f3;
    --blue-dark-9: #8dcff8;
    --blue-dark-10: #b7e3fa;
    --character-dark-title-85: #dbdbdb;
    --character-dark-primary-85: #dbdbdb;
    --character-dark-secondary-45: #7c7c7c;
    --character-dark-disable-25: #5a5a5a;
    --character-dark-border: #434343;
    --character-dark-dividers: #303030;
    --character-dark-background: #262626;
    --character-dark-table-header: #1c1c1c;
    --character-dark-error: #a61d24;
    --character-dark-warning: #d89614;
    --character-dark-success: #49aa19;
    --character-dark-link: #177ddc;
    --character-dark-red-4: #791a1f;
    --character-dark-sider-background: #111d2c;
}
