@import "../../../../styles/reset.css";

.ant-menu-item-icon {
    height: 14px;
    width: 14px;
}

.ant-menu-item-icon svg {
    height: 100%;
    width: 100%;
}
.menu__item .ant-menu-item-icon svg {
    fill: var(--primary-light-9);
}

.menu__item .ant-menu-title-content {
    color: var(--neutral-gray-10);
}

.menu {
    position: relative;
    z-index: 6;
    padding: 152px 15px 0;
    height: 100%;
    max-width: 208px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.menu__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    padding-left: 12px;
    height: 42px;
    cursor: pointer;
}

.menu__item > .item__icon,
.menu__item > svg {
    margin: 0;
    padding: 0;
}

.ant-menu-item > .ant-menu-item-icon + span {
    margin: 0;
    padding: 0;
}

.ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
    gap: 0;
}

.ant-menu.ant-menu-inline-collapsed > .ant-menu-item > .item__icon {
    height: 100%;
    display: flex;
    align-items: center;
}

    /*.ant-menu-inline .ant-menu-item */
/*.menu__item.ant-menu-item-selected::after {*/
/*    border-right: 3px solid green;*/
/*}*/

.item__icon {
    margin-right: 10px;
    vertical-align: center;
}

.menu__item span {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.menu__item--collapsed {
    background-color: #535bf2;
}

.ant-layout-sider-has-trigger {
    padding-bottom: 0;
}

.exit {
    position: absolute;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    height: 40px;
    width: 100%;
}

.exit--collapsed {
    justify-content: center;
}

.exit__button {
    border: 1px solid transparent;
}

