@import "../../../styles/reset.css";

.header {
    margin-left: -20px;
    padding: 12px 24px 20px;
    min-height: 168px;
    width: calc(100% + 20px);
    background-color: var(--primary-light-1);
}

.pathLine {
    margin-bottom: 10px;
}

.pathLine__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.content__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.content__wrapper--uncollapsed {
    gap: 15px;
}

.content__wrapper--collapsed {
    gap: 159px;
}

.header__title {
    max-width: 1055px;
    width: 100%;
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.title__settings {
    gap: 10px;
}

.settings__btn {
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}

.settings__btn:hover {
    background-color: transparent;
    color: inherit;
}

.ant-btn-icon-only {
    border-radius: 100px;
}
