@import '../../styles/reset.css';

.main-page {
    display: flex;
    margin: 0 auto;
    min-height: 1024px;
    max-width: 1440px;
    height: 100%;
    background-image: url("../../assets/img/main/main_bg_light.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -o-object-fit: contain;
       object-fit: contain;
}

.main-page > .ant-layout,
.main-page > .ant-layout >.ant-layout-footer {
    background: transparent;
}

.main-page.main-page--collapsed .body-layout {
    width: calc(100% - 64px);
}

.main-page.main-page--uncollapsed .body-layout {
    width: calc(100% - 208px);
}

.body-layout {
    height: 100%;
}

.trigger__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    -webkit-filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
    /*position: absolute;*/
    /*top: 24px;*/
    /*transform: none;*/
}

/*.trigger__wrapper--uncollapsed {*/
/*    left: 208px;*/
/*}*/

/*.trigger__wrapper--collapsed {*/
/*    left: 64px;*/
/*}*/

.trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 20px;
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    cursor: pointer;
}


.sider {
    position: relative;
    z-index: 6;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.sider > div {
    position: relative;
    height: 100%;
}

.button-icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}



.body-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.main {
    flex-grow: 2;
    padding: 24px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 752px;
}

.ant-btn-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}

.reviews__link {
    margin-bottom: 10px;
}

.ant-layout-sider-zero-width-trigger {
    display: none;
}

.ant-layout-sider-trigger {
    display: none;
}

@media (max-width: 1020px) {
    .main {
        padding: 25px;
    }
    .actions {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .exit--collapsed {
        display: none;
    }

    /*.sider {*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*}*/

    .menu--collapsed {
        display: none;
    }

    .trigger__wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        /*position: absolute;*/
        /*top: 24px;*/
        /*transform: none;*/
    }

    .trigger__wrapper--uncollapsed {
        left: 106px;
    }

    .trigger__wrapper--collapsed {
        left: 0;
    }

    .trigger {
        height: 48px;
        width: 32px;
    }

    .exit__button {
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .main {
        padding: 24px;
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .actions div {
        width: 100%;
    }
}
