@import '../../styles/reset.css';

.main-page {
    position: relative;
    display: flex;
    margin: 0 auto;
    min-height: 1024px;
    max-width: 1440px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -o-object-fit: contain;
       object-fit: contain;
}

.main-page.main-page--collapsed .body-layout {
    width: calc(100% - 64px);

}

.main-page.main-page--uncollapsed .body-layout {
    width: calc(100% - 208px);

}

.sider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 6;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.sider > div {
    position: relative;
    height: 100%;
}

.button-icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.trigger__wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: -1px;
    z-index: 5;
    height: 66px;
    width: 20px;
    -webkit-filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
}

.trigger__wrapper--uncollapsed {
    left: 208px;
}

.trigger__wrapper--collapsed {
    left: 64px;
}

.trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 20px;
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    cursor: pointer;
}

.exit {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    transform: translate(-50%);
    height: 40px;
    width: 85%;
}

.exit--collapsed {
    left: 67%;
}

.body-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    padding: 24px;
    flex: 2;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 752px;
}

.ant-btn-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}

.reviews__link {
    margin-bottom: 10px;
}

.ant-layout-sider-zero-width-trigger {
    display: none;
}

.ant-layout-sider-trigger {
    display: none;
}

@media (max-width: 1020px) {
    .main {
        padding: 25px;
    }
    .actions {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .exit--collapsed {
        display: none;
    }

    .sider {
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu--collapsed {
        display: none;
    }

    .trigger__wrapper {
        position: absolute;
        top: 24px;
        transform: none;
    }

    .trigger__wrapper--uncollapsed {
        left: 106px;
    }

    .trigger__wrapper--collapsed {
        left: 0;
    }

    .trigger {
        height: 48px;
        width: 32px;
    }

    .exit__button {
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .main {
        padding: 24px;
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .actions div {
        width: 100%;
    }
}
