.entry-block {
    margin: 0 auto;
    padding: 64px 85px 174px;
    /*height: 742px;*/
    /*width: 539px;*/
    background-color: var(--neutral-gray-1);
}

.entry-logo {
    max-height: 76px;
    max-width: 309px;
    height: 100vh;
    width: 100vw;
}

.entry-logo img{
    height: 100%;
    width: 100%;
}
